<!DOCTYPE html>
<html>

<head>
  <title>Bills</title>
</head>

<body>
  <h1>Bills</h1>
  <ul>
    {% for bill in bills %}
    <li>Patient: {{bill.patient.last_name}}, {{bill.patient.first_name}} </li>
    <li>Amount: ${{bill.amount}}</li>
    <li>Seen as: {{bill.status.status}} patient</li>
    <li>Visit # {{bill.visit.id}}</li>
    <li>{% if bill.paid %}<b>Paid</b>{% else %}<b>Not Paid</b>{% endif %} </li>
    <li><a href="{% url 'letter' bill.id %}">Generate Payment Letter</a></li>
    <br>
    {% endfor %}
  </ul>
  <a href="{% url 'index' %}">Return to Registry Index</a>
</body>

</html>