<!DOCTYPE html>
<html>

<head>
  <title>Create Visit</title>
  <style>
    .success-message {
      font-size: 20px;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <h1>Create Visit</h1>

  {% if success_message %}
  <p class="success-message">{{ success_message }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Visit</button>
  </form>
  <br>
  <a href="{% url 'index' %}">Return to Registry Index</a>
</body>

</html>