<!DOCTYPE html>
<html>

<head>
  <title>All Patients</title>
</head>

<body>
  <h1>All Patients</h1>
  <ul>
    {% for patient in patients %}
    <li><a href="{% url 'edit_patient' patient.id %}">Edit this Patient Profile: {{patient.id}}</a></li>
    <li>{{ patient.last_name }}, {{patient.first_name}} - DOB: {{ patient.dob }} </li>
    <li> {{ patient.address }} {{patient.city}}, {{patient.state}} </li>
    <li>{{patient.phone}}</li>
    <li>Insurance: {{patient.insurance}}</li>
    <br>
    {% endfor %}
  </ul>
  <a href="{% url 'index' %}">Return to Registry Index</a>
</body>

</html>